body{
	font-family: 'Lato', sans-serif;
}

/*start navbaar*/
#logo a img
{
	margin-top: 15px;
	
}

.navbar-inverse
{
 height: 68PX;
	
BORDER-BOTTOM: 2PX solid #176eb0;
	background-color: black

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
	margin-top: 10PX;
	margin-right: 61px;
	 font-size: 17px;
	
}   
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
	background-color: transparent;
	color: #176eb0;
}
.navbar-inverse .navbar-nav > li > a
{
	color: aliceblue;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
{
	color: #176eb0;
}
.navbar
{
	margin-bottom: 0px
}
/*end navbaar*/
/*strat bout us*/
.about
{
	

	background-color: #134869;
	color: aliceblue;
}
.ie img
{
	height:193px;
	width: 310px;
	border: 2px solid #eee;
	margin-bottom: 25px;
}
.top
{
	margin-top: 20px;
}
/*start gato*/
.gato
{
	
	background-color: #e8eff4
}
.lem
{
	margin-top: 40px;
}

.gato p{color:#07304d }
.gato h2{color:#07304d }
/*end gato*/

/*start footer*/
footer
{
	background-image: url(../imges/bg-footer.jpg);
	background-size: cover;
	padding-bottom: 50px;
	
}
footer h3
{
	color: aliceblue;
	
}
footer  li,p,h5
{
	color: azure;
}
ul li
{
	list-style: none;
}
footer  p
{
	margin-top: 15px;
}
/*end about bage*/



/*start blog bage*/
.blog
{
	background-color:#0f415c;
	
}

.time {
	color: #2986bb;
	font-size: 12px;
}
/** list **/
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.list li span.time {
	float: right;
	margin-top: 6px;
}
.list li h4 {
	color: #fbfdfd;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
.list li {
	padding: 0 0 48px;
}
#contents .list li p {
	padding: 0;
}
.list li a.more {
	float: right;
	color: #34b0fb;
	display: inline-block;
	font-size: 14px;
}
.list li a.more:hover {
	color: #c3e9fe;
}
.eth{color: aliceblue}

.pagination {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagination li {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	margin: 0 2px;
	margin-bottom: 20px;
	margin-top: 20px
}
.pagination li a {
	color: #36b4fd;
	padding: 3px;
	text-decoration: none;
}
/*end blog page */


/*start gallry page */
.gallry
{
	background-color: #0f415c;
}
.sewer
{
	margin-top: 30px;
}
.gallry img
{
	cursor: pointer
}

/*  start contact */
.contact
{
    background-color:#0f415c;
}

.contact .row textarea
{
    height: 200px;
    margin-top: 20px;
}
.sw
{
    margin-top: 30px;
    background: #176eb0;
    border-color: transparent;
    border-radius: 0px;
    border-width: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .5 ease;
    border-radius: 7px;
    margin-left: 370px;
    margin-bottom: 25px;
    width: 270px;
    color: aliceblue
    
}
 .edit
{
    margin-top:0px;
     margin-bottom:10px;
}
.inpu
{
    margin-top: 15px
}
.sw:hover
{
   background-color:darkgray;
    color:#2F937B;
    transition: all .8s ease;
   
}
.contact h2
{
	color: aliceblue
}
.upper
{
	color: aliceblue
}

/*  end 
contact */
footer i
{
    transition: all .7s ease-in-out;
    perspective: 600px;
    width: 35px;
    height: 35px;
    line-height: 1.5px;
    color: black;
    border-radius: 50%;
    background: white;
    transition: all .5s ease-in-out;
    text-align: center;
        
}
.fa-lg
{
	line-height:  1.75em;
}
.sm {background-color: darkblue;color: aliceblue}
.smm {background-color: skyblue ;color: aliceblue}
.snn {background-color: crimson;color: aliceblue}
.sn {background-color: red;color: aliceblue}
i
{
   
    cursor: pointer
    
}
 i:hover {background-color: aliceblue;color: black}

@media(max-width:768px)
{
		.navbar-default .navbar-nav>li>a
	{
		color: black;
		z-index: 999
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form
	{
		background-color: aliceblue
	}
.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
	color: black;
	}
	.gallry img
	{
		margin-bottom: 20px;
	}
	.sw
	{
		margin-left: 20px
	}
}
    