body{
	font-family: 'Ubuntu', sans-serif;
	padding-top: 18px;
  


}
.clr{
  clear: both;
}
			/*Start Navbar*/
.navbar-inverse {
    background-color: #000;
    border-color: #080808;
}
.navbar-brand>img {
    display: block;
    margin-top: -29px;
}

.navbar-inverse {
    height: 75px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
  }
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-top: 14px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-top: 11px;
    background-color: #000;

}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #000;
}

.navbar-inverse .navbar-toggle {
     border-color: #000;
}
.navbar-brand {
    padding: 13px 15px;
}
.glyphicon-log-in{
    top: 2px;
    padding-right: 4px;
    outline: none;
}
.navbar-collapse a:focus{
  outline: 0;
  border-color: #1ab188;
}

			/*End Navbar*/

			/*Start Header*/
.header{
	
	position: absolute;
  left: 100px;
  

}
.header h1{
	margin-top: 180px;
	color: #FFF;

}
/*.header .overlay{
	background-color: rgba(0, 0, 0, 0.62);
    height: 100%;
}
*/
.search-input{
    width: 44%;
    height: 50px;
    background-color: #eee;
    margin-top: 20px;
    border: none;
    margin-bottom: 140px;
    outline: none;
    padding-left: 20px;
}
.search-btn{
	  background-color: #1ab188;
    color: #fff;
    height: 50px;
    border-radius: 16px 20px 20px 96px;
    margin-left: -70px;
    border: none;
    margin-top: -3px;
    width: 15%;
    outline: none;
}

.circle-btn{
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50% ,-50%);
    /*border: 2px solid #FFF;*/
    /*border-radius: 50%;*/
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    overflow: hidden;
    margin-top: 20px;
}
.circle-btn .fa{
	margin: 0;
	padding: 0;
	color: #fff;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(-50px);
        text-shadow: 0 10px 0 #FFF;
    }
    20%{
        transform: translateY(0px);
        text-shadow: 0 10px 0 #FFF;
    }
    40%{
        transform: translateY(0px);
        text-shadow: 0 -50px 0 #FFF;
    }
    60%{
        transform: translateY(0px);
        text-shadow: 0 0px 0 #FFF;
    }
    100%{
        transform: translateY(0px);
        text-shadow: 0 -50px 0 #FFF;
    }
}
.scroll-down{
    margin-top: 185px;
    color: #fff;
    font-size:11px;
}




/*form*/


.form {
  background: rgb(19, 35, 47);
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.tab-content h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.field-wrap label {
  position: absolute;
  -webkit-transform: translateY(6px);
   transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

.modal-header input, .modal-header textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.modal-header input:focus,.modal-header textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

 .modal-header textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}









.modal-header .close {
    margin-top: -37px;
    color: #fff;
    margin-right: -16px;
    font-size: 29px;
}
.modal-content {
     position: relative; 
     background-color: transparent; 
}
.modal-header {
     padding: 0px; 
     border-bottom: none;
}
/*Form*/

/*Start How AGLAMOS works?*/
.how-work{
    padding: 100px 0 ;
}
.how-work img{
   width: 42px;
   height: 42px;
}
.how-work h1{
    margin-bottom: 40px ;
}
.how-work p{
    margin-top: 20px;
}

/*end How AGLAMOS works?*/

/*Start mix-it-up*/
.mix-it-up-menu ul{
  text-align: center;
}

.mix-it-up-menu ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
.mix-it-up-menu ul li:hover{
  color: #fff;
  background-color: #1ab188;
}
.mix-it-up-content .mix{
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}
.mix-it-up-content .mix img{
  width: 100%;
  height: 250px;

}

.mix-it-up-menu{
  margin: 40px 0 ;
}

/*End mix-it-up*/

/*Start Footer*/
footer{
    background-image: url(../img/footer-bg.jpg);
        position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
footer h1{
    color: #fff;
    margin: 80px 0;
}
.contact-form p{
    margin: 0 auto;
}
.contact-form span input::placeholder,.contact-form span textarea::placeholder{
    color: #fff;
}
.contact-form span input,.contact-form span textarea,.contact-form .send-btn{
    padding: 10px 10px;
    margin-bottom: 10px;
    width: 70%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 180px;
   border-bottom: 1px solid #8b8b8b;
   outline: none;
   color: #fff;
   font-weight: bold;
}
.contact-form .send-btn{
    background-color: #1ab188;
    border: none;
    margin-bottom: 80px;
    border-radius: 20px ;
}
.contact-form span textarea{
  resize: none;
  margin-bottom: 20px;
}
/*Start Transition*/
.contact-form span input:after{
    content:'';
    width:0;
    height:2px;
    box-shadow:0 -2.5em 0 0 #fff;
    transition:width 1s ease-in-out;
}

.contact-form span input:focus,.contact-form span textarea:focus{
    transform:scale(1.2);transition:all 1s ease-in-out 
  }

.contact-form span input:focus input:after{
    width:100%;

}


/*End Transition*/

/*end Footer*/
