body{
    font-family: 'Droid Serif', serif;
}


*{
    margin: 0;
}


a{text-decoration: none;}

.header-middle{
    margin-top:70px
}
.btn-group,
.btn-group-vertical
{
    padding-top: 7px;
}
.shop-menu ul li {
    display: inline-block;
    padding-left: 17px;
    padding-right: 10px;
    margin-top: 15px;
}
.shop-menu ul li a{
    color: darkgray;
    transition:all .2s ease;
}
.shop-menu ul li a:hover{
    color:orange;
    text-decoration: none;
}

.navbar-inverse,.navbar-nav>li>a {
    margin-left: -10px;
    background-color: #000000;
    border: none;
    padding-right: 24px;
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    background: #fe980f;
    color: #000;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover{
    background: #fe980f;
 }
.navbar-collapse {
    padding-right: 72px;
    padding-left: 72px;
}

.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child,
.btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle,
.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child 
{
    border: 1px solid #eee;
    border-radius: none;
    margin-left: 10px;
    border-radius: 0 0 0 0; 
}
.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child:hover,
.btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle:hover,
.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child:hover{
    background: #fe980f;
    color: white;
} 

.navbar-nav>li>.dropdown-menu{
    background: rgba(0,0,0,.7);
    border-radius: 0 0 0 0;
    border: none;
    border-top: 3px solid #fe980f;
    padding: 0px;
    margin: 0px -10px;
}
.dropdown-menu>li>a {
    color: #fff;
    padding: 15px 20px;
}
.dropdown-menu>li>a:hover{
    color: black;
    background:#FE980F;
}
.navbar-inverse .navbar-toggle {
    border-color: #FE980F;
    background: #222;
    border-radius: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FE980F;
}
.header-middle .dropdown-menu{
    padding: 0;
    border-radius:0 0 0 0;
}
.header-middle .dropdown-menu>li>a{
    color:#000;
}

.navbar .btn-default{
    border-radius: 0;
    border:none;
    color: #fff;
    background: #FE980F;
    margin-left: -10px;
    height: 34px;
}
.navbar .form-control{
    border:none;
    border-radius: 0;
    height: 30px;
}
/*content*/




/* START OF CONTENT*/

.content{
    margin-top: 40px;
    overflow: hidden;
}

.sidebar,.sidebar2,.border{
    border-top: 2px solid #dddfe0;
}
.sidebar .title h4,.sidebar2 .title h4{
    width:120px;
    
    text-align: center;
    margin-left: 70px;
    color:#ff8c1b;
    font-weight: bold;
    background: white;
    margin-top: -13px;
    margin-bottom: 30px;
}
.sidebar ul,.sidebar2 ul{
    width:100%;
    padding: 10px;
    border:1px solid #dddfe0;
    margin-bottom: 30px;
}
.sidebar ul li,.sidebar2 ul li{
    padding:7px 5px;
    display: block;
}
.sidebar ul li a,.sidebar2 ul li a{
    text-decoration: none;
    color:#6b6d6f;
    font-weight: bold;
}

.carousel-indicators .active{
    background-color: #FE980F;
}
.carousel-caption{
    width:600px;
    color: #222;
    bottom: 100px;
    left:100px;
    padding-right:20px;
    padding-left:20px;
    text-shadow:none;
}
.carousel-indicators li {
    background: #C4C4BE;
}
.carousel-inner .item>img{
    margin-left:800px;
}
.carousel-inner .item{
    overflow: hidden;
}
.pricing{

    position: absolute;
        left: 0;
        top: 55%;
}
.carousel-control.left,.carousel-control.right{  
  background-image: none;
}

.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before  {
    color:#FE980F;
}


.sidebar ul li i,.sidebar2 ul li span{
    float: right;
    margin-top: 0px; 
}


.carousel-indicators{
    bottom: 0;
}

.panel-body ul{
    border:none;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 0;
}
.price-range{
    border-top: 2px solid #dddfe0;

}
.price-range h4{
    width:120px;
    text-align: center;
    margin-left: 70px;
    color:#ff8c1b;
    font-weight: bold;
    background: white;
    margin-top: -13px;
    margin-bottom: 30px;
}
.well{
    background: #fff;
    padding:25px;
}
.well input{
    height: 15px;
    border:1px solid #dddfe0;
    border-radius:5px; 
}
.shipping a img{
    margin-top: 20px;
    height: 358px;
    width:257px;
}
.border h4{
    width:220px;
    font-size: 24px;
    margin-left: 250px;
    color:#ff8c1b;
    font-weight: bold;
    background: white;
    margin-top: -17px;
    margin-bottom: 30px;
}

.box{
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border:1px solid #dddfe0;
}
.box img{
    position: relative;
    z-index: -99999;
    margin-bottom:20px; 
}
.box span{
    padding: 5px;
    color:orange;
    font:25px bold;
}
.box p{
    
    padding: 5px;
    color: #7e8081;
}
.box .btn{
    color:#7e8081;
    border:none;
    border-radius: 0px;
    background: #e7e7e7;
}
.box-decoration{
    width: 253px;
    height: 360px;
    padding: 10px;
    padding-top: 200px;
    color:black;
    background: #fe980f;
    position: relative;
    top:-340px;
    left:-10px;
    display: none;
    margin-bottom: -370px;
}

.box-decoration span,
.box-decoration p{
    color: white;
}
.box-decoration .btn {
    color: #FE980F;
    border: none;
    border-radius: 0px;
    background: #FFFFFF;
}
.smallbox{
    overflow: hidden;
    margin-top: 20px;
    padding: 10px 0;
    border-top:1px solid #dddfe0;

}
.smallbox a{
    color:gray;

    margin:4px;
    transition:all .3s ease;
}
.smallbox a:hover{
    color:#ff8c1b;
}
.smallbox a i{
    padding-right: 3px;
}
.bar{

    background: #323232;
    border-bottom: 2px solid #fe980f;
    margin-bottom: 20px;
}
.bar ul li{
    display: inline-block;
    margin-right: -4px;
    padding: 10px;
    margin-bottom:-10px; 
    transition:all .5s ease;
}
.bar ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.bar ul li:hover{
    background: #fe980f;
}
/* END OF CONTENT*/


/*START OF FOOTER*/
.footer{
    margin-top: 30px;
    background: #F0F0E9;
}
.foot1{
    margin: 40px 0;
    padding-bottom: 40px;
    border-bottom:1px solid #E0E0DA;

}
.foot2{
    margin: 40px 0;
}
.foot2 h4{
    color:#666663;
    margin-bottom: 40px;
}
.foot2 ul li{
    margin-bottom: 20px;
    display: block;
}
.foot2 ul li a{
    color:#8C8C88;
    transition:all .5s ease;
}
.foot2 ul li a:hover{
    color:orange;
    text-decoration: none;
}
.foot2 form input{
    border: 1px solid #DDDDDD;
    padding: 7px;
}
.foot2 form i{
    text-align: center;
    color: white;
    padding: 0px 20px 9px 10px;
    padding-top: 4px;
    background: orange;
    margin-left: -10px;
}
.foot2 p{
    margin: 40px 0;
    color:#8C8C88;
}
.copyright{
    padding: 20px;
    background: #D6D6D0
}
.copyright i{
    color:orange;

}


/*END OF FOOTER*/

/*HEADER*/

.social-icons{
    position: fixed;
    top:180px;
    left: 0;
    width: 50px;
    height: 290px;
    z-index: 999999;
}
.social-icons ul li{
    display: block;
    padding: 10px 10px;
    background: #F0F0E9;
    border:1px solid transparent;
    transition:all .5s ease;
}
.social-icons ul li i{
    color:white;
}

.social-icons ul li:hover{
    text-align: center;
    width:60px;
}
.social-icons ul li:first-child{
    background: #0083c9;
}
.social-icons ul li:last-child{
    background: #ce3c2d;
}
.social-icons ul li:nth-child(2){
    background: #5bbcec;
}
.social-icons ul li:nth-child(3){
    background: #ff4518;
}
.social-icons ul li:nth-child(4){
    background: #90c9dc;
}

/*HEADER*/


/*Registration*/
.loginbg{
    background: url("../img/2.jpg") no-repeat;
    min-height: 600px;
    background-size:cover;
    background-attachment: fixed;
}
.op{
    height: 600px;
    background: rgba(2,2,2,.8);
}
.login{
    color: #000;
    padding: 0 40px;
    padding-top: 120px;
    padding-bottom: 200px;
}
.login h3{
    color: #fff;
    margin-bottom: 20px;
}

.login input.in1{
    padding: 10px;
    background: #eee;
    border:none;
    width:100%;
    margin-bottom: 20px;
}
.login input.in2{
    padding-right: 10px;
    margin-bottom:20px;
    text-align: center;
    margin-right: 5px;
}
.login input.log{
    border:none;
    font: 20px bold;
    padding:7px 20px;
    background: #fe980f;
    color:white;
    line-height: 30px;
}

.login h4{
    margin-top: 60px;
    margin-left: 40px;
    padding: 15px;
    border-radius: 50%;
    background: #fe980f;
    color:#fff;
    text-align: center;
    max-width:40%;
    
}

/*Registration*/


/* Validation */

.alert{
    border-radius: 0;
    padding: 10px;
    border: red;
}

/* Validation */



/*top fotter*/

.companyinfo h2 span {
    color: #FE980F;
}
.companyinfo p {
    color: #B3B3AD;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.video-gallery a img {
    height: 100%;
    width: 100%;

}

.companyinfo,.video-gallery ,.address {
    margin-top: 57px;
}
.address p {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 100px;
}
.address img {
    width: 100%;
}
.video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}
.video-gallery h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0px;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -90px;
}

.footer-top .container {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.companyinfo h2 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 27px;
    text-transform: uppercase;
}


.overlay-icon {
    position: absolute;
    top: 57px;
    width: 133px;
    height: 63px;
    background: #FE980F;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.video-gallery a:hover .overlay-icon {
    opacity: 1;
}


#scroll-top{
    border-radius:50% 50% 0 50%;
    padding: 10px;
    background: #fe980f;
    text-align: center;
    position: fixed;
    right:4px;
    bottom:4px;
    color:#fff;
    cursor: pointer;
    display: none;
}