/* Start Main Rulze */
.container{
	width:753px;
	margin: auto;
}
.clear{clear: both;}
/* End Main Rulez */

/* ---------------*/

/* Star Header syle */

.header .slider .intro{
	padding-top: 200px;
	text-align: center;
	height: 400px;
	color: #FFF;
	font-size: 30px;
}
.header .slider .intro h2{
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 15px;
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	font-weight: bold;
	font-size: 65px;

}
.basicBox, .swiggleBox, .checkBox {
  width: 130px;
  height: 65px;
  margin: 15px auto;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 20Px;
  line-height: 65px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 4;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #FFF;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.header .slider{
	background-image: url('../imgs/slider.jpg');
	background-size: cover;
	height:550px;
	background-attachment: fixed;

}
.header .navbar{
	background-color: #252F31;
	overflow: hidden;

}
.header .navbar ul{
    display: -webkit-inline-box;
        font-size: medium;
}
.header .navbar ul  li a{
		color: #FFF;
		text-decoration: none;
	
}



.header .navbar ul a:hover,.header .navbar ul li .active {
	color: #34B36A;
}
.header .navbar h2{
	float: left;
	color: #FFF;
	margin: 15px
}
.header .navbar h2 span{
	color:#34B36A;
}
.header .navbar ul {
	list-style: none;
	padding-left:0;
	float: right;
}
.header .navbar ul li{
	
	padding: 10px;
	margin-top: 12px;
	font-family: initial;
}
/* End Header syle */
/* Start section 2 */
.section {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 40px;
}
.section .feat{
	float: left;
	width: 33.3333%;
	height: auto;
}
.section .feat h2{
	color: #080;
}
.section .feat p{
	color: #888;
	line-height: 1.7
}
/* End Section2 */

/*Start  Section 3 */
.about-me{
	background-color: #F2F2F2;
	height:auto;
	overflow: hidden;
}
.about-me .img img{width: 100%}
.about-me .img {
	float: left;
	width: 40%;
}
.about-me .info{
	float: left;
	width: 60%;
}
.about-me .info h2{
	margin: 10px 0 10px 40px; 
}
.fa {
	float: left;
	margin: 25px 4px 0 0;
	color:#34B36A;

}
.about-me .info >p{
	margin:0 0 5px 45px;
	line-height: 1.4; 
}
.about-me .info .hobbies{
	overflow: hidden;
	margin: 5px 0 0 45px;
}
.about-me .info .hobbies >div{
	min-height: 100px;
	width: 50%;
	float: left;
}
.about-me .info h2{
	color: #080;
}
/*End section 3 */
/*Start section 4 */
.skill .part1 p{
	color: #888;
	margin-left: 10px;
}
.skill .part1{
	width: 50%;
	float: left;
}
.button {
  border-radius: 4px;
  background-color: #34B361;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.skill .part2{
	width: 40%;
	float: left;
	margin: 10px 0 5px 10px;
	overflow: hidden;
}
.skill .part1 h2,h3 ,.skill .part2 h3{
	color: #080;
}

/*End section 4 */
/* Start Section 5*/
.resume{
	text-align: center;
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
}
.resume h2{
	font-weight: bold;
	color: #080;
}
/* End Section5 */
/*Start Section 6 */

.my-eduction .main{
	width: 50%;
	margin-right: 5%;
	float: left;
}
.my-eduction .exp{
	width: 45%;
	float: left;
}
.my-eduction .exp h3{
	margin-top: 60px;
	color: #080;
}
.my-eduction h2 {
	color: #080;

}
.my-eduction .exp span{
	display: block;
	margin-bottom: 5px;
}
.my-eduction .exp span:first-of-type{
	color: #999;
}
.my-eduction .exp span:last-of-type{
	background-color: #2DCC70;
	display: inline;
	color: #FFF;

}
.my-eduction .exp p{
	color: #000;
	line-height: 1.7;
}
.my-eduction .exp hr{
	margin: 20px 0;
	height: 1px;
	background-color: #999;
	border: 0;

}

.nice{
	border: 1px solid #2DCC70;
}

/* End Section Section 6 */
/* Sart Protofolio */
.Protofolio{
	padding-bottom: 30px;
	padding-top: 10px;
	text-align: center;
	background-color: #FFF;
}
.Protofolio h2{
	color: #080;
}
.Protofolio .our-work{
	overflow: hidden;

}

.Protofolio .our-work >div{
	float: left;
	width: 33.333333%;
	margin-bottom: 10px;

}
.Protofolio .our-work >div img {
	width: 92%;
	margin: 5px;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: 5px 5px 5px #ccc;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.Protofolio .our-work :hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* End Protofolio */
/* Start contact */
.contact {
	width: 100%;
	background-color: #252F31;
	color: #6C7275;
	overflow: hidden;
	padding-top: 10px;

}
.contact ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    margin-left: -38px;
}
.contact h2{

	color: #FFF;
	display: inline;
	font-size: 12px;
}
.contact .one{
	float: left;
	width: 50%;

}
.contact .form label{
	display: block;
	color: #D1D6DA;
	margin-bottom: 10px;

} 
.contact .form input[type='text']{
	background-color: #4B5557;
	color: #FFF;
	padding: 10px;
	border: 0;
	width: 50%;
}
.contact .form textarea{
	background-color: #4B5557;
	color: #FFF;
	padding: 10px;
	border: 0;
	width: 50%;
	height: 300px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    width: 27%;
    margin:10px 10px 10px 360px;
    
}
.contact .form .button:hover {
    background-color: #4CAF50; 
    color: white;}
/* End contact */
/* Start Footer */
.footer{
	text-align: center;
	background-color: #191E22;
	color: #fff;
}
.footor ul
{
	list-style: none;
	padding-left: 0;

}
.footor  ul li {
	display: inline; 
}
/*End Footer */